body {
  font-family: "Comic Sans MS", cursive;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.2em;
  border: 1px solid white;
  margin: 0 0 .1em 0;
  padding: 0;
  color: black;
  background-color: aqua;
  text-indent: 0;
  text-align: center;
}

.msgbtn {
  width: 150px;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size-adjust: auto;
  font-style: normal;
  letter-spacing: normal;
  border: 3px outset mediumturquoise;
  color: black;
  background-color: mediumturquoise;
  text-align: center;
}

div#header {
  border: 5px inset aqua;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  text-indent: .5em;
  padding: 0 0 0 .5em;
  background-image: url("images/logo.jpg");
  background-color: lightskyblue;
    width: 1500px;
    height: 100px;
  color: white;
  text-align: left;
}

div#navigation {
  border: 2px solid gray;
  background-color: lightskyblue;
    width: 940px;
    height: 51px;
  text-align: center;
    margin: 0 auto 0 auto;
}

div.main {
    background-color: white;
    border: .1px solid aqua;
    text-align: justify;
    margin: 0 3em 0 3em;
    font-size: 1.2em;
    font-family: "Courier New", monospace;
    font-weight: 700;
    width: 1400px;
    height: 280px;
    padding: 0 1em 0 1em;
}

.bigger {
    font-size: 1.5em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.inline {
    display: inline;
    margin: 0 1em 0 0;
}

.ownline {
    display:block;
}

.mission {
    margin: 1em 1em 0 10em;
}

img.wrapRight {
    float: left;
}

img.wrapLeft {
    float: right;
    margin: .5em 8em 0 12em;
}